<h1>Login</h1>

<%= form_with(scope: :session, url: login_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password , value: "KJT20201"%>
  </div>

  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
<% end %>