<h1>Verificação de Conta</h1>

<p>Enviamos um código de verificação para o seu e-mail. Por favor, insira-o abaixo para ativar sua conta.</p>

<%= form_with url: verification_path, method: :post, local: true do |form| %>
  <div class="form-group">
    <%= form.label :code, "Código de Verificação" %>
    <%= form.text_field :code, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= form.submit "Verificar", class: "btn btn-primary" %>
  </div>

<% end %>

<%= link_to "Reenviar Código", resend_email_path, method: :post %>
<%= link_to "Esse não é seu email", change_email_path , method: :get%>
