<%= javascript_include_tag 'phones' %>

<h1>Registrar</h1>

<%= form_with(model: @user, url: signup_path, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :nome, "Nome Completo" %>
    <%= f.text_field :nome , value: "nome comum"%>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, value: "generico@gmail.com"%>
  </div>

  <div class="field">
    <%= f.label :cpf %>
    <%= f.text_field :cpf, value: "12345679910"%>
  </div>

  <div class="field">
    <%= f.label :matricula %>
    <%= f.text_field :matricula, value: "123456789"%>
  </div>

  <div class="field">
    <%= f.label :cep %>
    <%= f.text_field :cep, value: "1234-567"%>
  </div>

  <div class="field">
    <%= f.label :municipio_id, "Município" %>
    <%= f.collection_select :municipio_id, Municipio.all, :id, :nome, prompt: "Selecione o município" %>
  </div>

  <div class="field">
    <%= f.label :role_id, "Tipo de Usuário" %>
    <%= f.collection_select :role_id, Role.all, :id, :nome, prompt: "Selecione a função" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, value: "KJT20201" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmação de Senha" %>
    <%= f.password_field :password_confirmation , value: "KJT20201"%>
  </div>

  <div id="phones">
    <%= f.fields_for :phones do |phone_fields| %>
      <div class="field">
        <%= phone_fields.label :number, "Número do Telefone" %>
        <%= phone_fields.text_field :number, class: "phone-input" %>
        <%= link_to "Remover", "#", class: "remove-phone" %>
      </div>
    <% end %>
  </div>

  <%= link_to "Adicionar Telefone", "#", id: "add-phone" %>

  <div id="phone-template" style="display: none;">
    <div class="field">
      <label for="">Número do Telefone</label>
      <input type="text" name="user[phones_attributes][NEW_INDEX][number]" class="phone-input" />
      <a href="#" class="remove-phone">Remover</a>
    </div>
  </div>


<div class="actions">
    <%= f.submit "Registrar" %>
  </div>
<% end %>
