<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<h1>Registrar</h1>

<%= form_with(model: @user, url: signup_path, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, value: "KJT20201" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmação de Senha" %>
    <%= f.password_field :password_confirmation , value: "KJT20201"%>
  </div>

  <div class="actions">
    <%= f.submit "Registrar" %>
  </div>
<% end %>