<div class="rota-fields bg-gray-50 p-4 rounded-lg shadow-sm border border-gray-200">
  <div class="space-y-2">
    <div>
      <%= f.label :municipio_origem_id, "Município de Origem", class: "block text-sm font-medium text-gray-700" %>
      <%= f.collection_select :municipio_origem_id, Municipio.all, :id, :nome, { prompt: "Selecione um município" }, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" %>
    </div>

    <div>
      <%= f.label :municipio_destino_id, "Município de Destino", class: "block text-sm font-medium text-gray-700" %>
      <%= f.collection_select :municipio_destino_id, Municipio.all, :id, :nome, { prompt: "Selecione um município" }, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" %>
    </div>

    <div>
      <%= f.label :horario_saida, "Horário de Saída", class: "block text-sm font-medium text-gray-700" %>
      <%= f.time_field :horario_saida, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" %>
    </div>

    <div>
      <%= f.label :horario_chegada, "Horário de Chegada", class: "block text-sm font-medium text-gray-700" %>
      <%= f.time_field :horario_chegada, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" %>
    </div>

    <div>
      <%= f.label :dias_da_semana, "Dias da Semana", class: "block text-sm font-medium text-gray-700" %>
      <%= f.collection_select :weekday_id, Weekday.all, :id, :name, {prompt: "selecione um dia"}, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" %>

    </div>

    <%= f.hidden_field :_destroy %>
    <button type="button" class="remove-rota-button mt-2 px-3 py-1 bg-red-500 text-white text-sm font-medium rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500">
      Remover Rota
    </button>
  </div>
</div>
