<h1>digite a nova senha</h1>
<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |f| %>
    <div class="field">
     <%= f.label :password %>
     <%= f.password_field :password, placeholder: "digite sua senha" %> <%# Added placeholder %>
   </div>

   <div class="field">
     <%= f.label :password_confirmation, "Confirmação de Senha" %>
     <%= f.password_field :password_confirmation, placeholder: "digite novamente" %> <%# Added placeholder %>
   </div>

   <div class="actions">
     <%= f.submit yield(:button_text) || "Resetar senha" %>
   </div>
<% end %>
